@media screen and (min-width: 601px) and (max-width: 980px){  
main {
    display: grid;
    grid-template-columns:  1fr 1fr;

}
.main {
    display: flex;
    justify-content: space-between;
}

  
section:nth-child(3) {
    grid-column: span 2;
    max-width: none;
}

}