:root {  
/*--primary-color: #000080;
--secondary-color: #3083DC;
--accent1-color: #FFFFFF;
--accent2-color: #26532b;
--accent3-color: #399E5A;*/

--font1: "Roboto";
--font2: "Open Sans";
--font3:"Young Serif"; Have not use it yet
}
body {
  display: block;
  font: var(--font1);
  text-align: center;
}
header {
  display: block;
  margin: -30px;
  padding: 20px;
}
h1 h2 h3 h4 h5 h6{
  font: var(--font2);
}
nav {
  padding: -10px;
}
nav a{
  padding: 10px;
}
img {
  display: block;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
footer {
  font: var(--font1);
  text-align: center;
  padding: 10px;
}
#lastModified {
  font-size: 14px;
}
 
/* small view navigation*/
#menu {
	font-size: 1.5rem;
  border-radius: 10px;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #ccc;
	color: #000;
 	position: absolute;
	top: 40px;
	right: 14px;
}

#menu::before {
	content: "☰";
    cursor:pointer;
}

#menu.open::before {
	content: "⨉";
    cursor:pointer;   
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}
.navigation a {
    display: none;
}
.open a {
    display: block;
    width: 100%;
}
/*toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;   
  } 
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}
input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 30px;
} 
.slider.round:before {
  border-radius: 45%;
}