/*CTA style*/
.action {
    display: block; 
    height: 100px; 
    width: 500px; 
    background: #606060; 
    color: #ffffff; 
    text-align: center; 
    font-weight: bold; 
    font-size: 300%; 
    line-height: 100px; 
    font-family: Arial;
    border-radius: 20px; 
    text-decoration: none;
}