:root {
    --primary-color: black;
    --secondary-color: white;
    --accent1-color: gray;   
}
body.dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
nav  {
    color: var(--accent1-color);
}