:root {  
/* Dark Mode*/
  --dark-primary-color: #000;
  --dark-secondary-color: white;
  --dark-background-color: #3f3b3b;
}
body.theme-dark {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --accent1-color: var(--dark-background-color);
  background-color: var(--dark-primary-color);
  color: var(--dark-secondary-color);
}
body.theme-dark nav a { /*top navigation green*/
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark main a {
  color: #74b4f5;
  font-weight: bolder;
  text-decoration: none;
}
body.theme-dark main a:hover {
  color: var(--primary-color);
  background-color: #899a9ef5; 
  text-decoration: none;
}
body.theme-dark nav a:hover {
  background-color: #899a9ef5; 
  text-decoration: underline;
}
body.theme-dark p{
  color: var(--dark-primary-color);
}
body.theme-dark main {
  color: var(--dark-secondary-color);
  background-color: var(--dark-background-color);
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark main .hero-label a { /*hero-label button*/
  color: var(--dark-secondary-color);
  background-color: var(--dark-background-color);
  text-decoration: none;
}
body.theme-dark main .hero-label a:hover { /*hero-label button*/
  text-decoration: underline;
}
body.theme-dark main .card section h3:hover {
  background-color: #899a9ef5; 
  text-decoration: underline;
}
body.theme-dark main h1,
body.theme-dark main h2,
body.theme-dark main h3,
body.theme-dark main h4,
body.theme-dark main h5,
body.theme-dark main h6 {
  color: var(--dark-secondary-color);
  background-color: var(--dark-background-color);
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark main .local-photos {
  background-color: var(--dark-background-color);
}
body.theme-dark main p {
  color: var(--dark-secondary-color);
  background-color: var(--dark-background-color);
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark main .discover p {
  color: var(--dark-secondary-color);
  background-color: var(--dark-secondary-color);
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark form fieldset {
  margin: 2rem 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: .5rem 2%;
  text-align: left;
  font-weight: bolder;
}
body.theme-dark label.top {
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark .top input, textarea {
  border: solid 1px #ccc;
  background-color: var(--dark-secondary-color);
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark input.submitBtn {
  font-weight: bolder;
  font-size: larger;
}
body.theme-dark th, td {
	padding: 7px 15px;
	border: 2px solid var(--dark-secondary-color);
  text-align: center;
  font-weight: bold;
}
body.theme-dark th {
	background-color: var(--dark-background-color);
	font-size: larger;
  font-weight: bold;
  color: var(--dark-secondary-color)
}
body.theme-dark tr:first-child th {
	background-color: var(--dark-primary-color);
	color: var(--dark-secondary-color);
}
body.theme-dark tr:nth-child(even) {
	background-color: var(--primary-color);
}
body.theme-dark .blank {
  background-color: var(--dark-primary-color)
}
body.theme-dark #directory .list-view section:nth-child(odd) {
  background-color: var(--dark-background-color);
}
body.theme-dark footer p {
  color: var(--dark-secondary-color);
  background-color: var(--dark-primary-color);
  font-weight: bolder;
  font-size: larger;
}
@media (min-width: 768px) {
body.theme-dark .photo1:hover,
body.theme-dark .photo2:hover,
body.theme-dark .photo3:hover,
body.theme-dark .photo4:hover,
body.theme-dark .photo5:hover,
body.theme-dark .photo6:hover {
  box-shadow: 0 0 50px rgb(122, 120, 120);
}
}