@media screen and (min-width: 1024px) {
header {
  font-size: 1.5rem;
  padding: 10px;
  max-width: 100%;
}
main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

main h2 {
  display: grid;
  grid-column: 1/3;
  align-items: center;
}

h2 {
  max-height: 10%;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.card {
  margin-top: 5px;
  padding-top: 0;
}

.current-weather,
.current-weather * {
  text-align: center;
  vertical-align: middle;
}

footer {
  max-width: 100%;
}

#menu {
  display: none; /* hide hamburger button */
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation a {
  display: block;
  flex: 1 1 100%;
}

.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover,
.photo5:hover,
.photo6:hover {
  box-shadow: 0 0 50px #333;
}

.membership-info {
  grid-column: 2/3;
  max-width: 50%;
}
#directory .directory-menu {
  margin: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}

/*#directory .grid-view {
  gap: 40px;
}

#directory .list-view {
  margin: 4rem;
}

#directory .list-view section h3 {
  font-size: 20px;
}*/
#directory .directory-menu {
  display: flex;
  justify-content: ;
  margin-bottom: 10px;
}

#directory .view-buttons button {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#directory .grid-view,
#directory .list-view {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

#directory .list-view section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
#directory main .list-view .card > section {
  max-width: 100%;
  display: inline-block;
}

#directory .list-view img {
  display: none;
}

#directory .list-view section p:last-child,
#directory .list-view section p:nth-last-child(2) {
  display: none;
}

#directory .list-view section h3 {
  font-size: 16px;
}

#directory .list-view section:nth-child(odd) {
  background-color: lightgrey;
}

/***discover***/
.sidebar {
  flex: 1; 
  max-width: 100%; 
}
.local-photos {
  flex: 1; 
  max-width: 100%; 
}
/***Spotlight***/
#spotlight {
  grid-column: 1/3;
}
#spotlight .card {
  width: 35%;
  padding-top: 10px;
}
#spotlight .card img {
  width: 30%;
}
}
  