@media screen and (min-width: 1024px) {
header {
  font-size: 1.5rem;
  padding: 10px;
  max-width: 100%;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
main h2 {
  display: grid;
  grid-column: 1/3;
  align-items: center;
}
h2 {
  max-height: 10%;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.card {
  margin-top: 5px;
  padding-top: 0;
}
.current-weather,
.current-weather * {
  text-align: center;
  vertical-align: middle;
}
footer {
  max-width: 100%;
}
#menu {
  display: none; /* hide hamburger button */
}
.navigation {
  display: flex;
  flex-direction: row;
}
.navigation a {
  display: block;
  flex: 1 1 100%;
}
.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover,
.photo5:hover,
.photo6:hover {
  box-shadow: 0 0 50px #333;
}

/*--- directory ---*/
#directory {
  text-decoration: none;
  display: inline-block
}
#directory .directory-menu {
  display: flex;
  justify-content: center;
	margin-bottom: 1rem;
}
#directory .directory-menu button {
  padding: 10px;
  margin: 5px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
/*--- grid view ---*/
#directory .grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

#directory .grid-view img {
  padding-top: 1rem ;
  max-width: 100%;
}

/*--- list view ---*/

#directory .list-view {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}
#directory .list-view section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 20px;
}

#directory .list-view img {
  display: none;
  align-items: center;
}

#directory .list-view section p:last-child,
#directory .list-view section p:nth-last-child(2) {
  display: none;
}
#directory .list-view section h3 {
  font-size: 1rem;
}
#directory .list-view section:nth-child(odd) {
  background-color: lightgrey;
}
/***discover***/
.sidebar {
  flex: 1; 
  max-width: 100%; 
}
.local-photos {
  flex: 1; 
  max-width: 100%; 
}
/***Spotlight***/
#spotlight {
  grid-column: 1/3;
}
#spotlight .card {
  display: inline-block;
  width: 30%;
  padding-top: 10px;
}
#spotlight .card img {
  width: 30%;
}

/*----Form---*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
  text-align: left;
}
form fieldset {
  margin: 2rem 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: .5rem 2%;
  text-align: left;
  max-width: 100%;
  font-weight: bold;
}
label.top {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 80%;
}
.top input, textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
  background-color: var(--accent4-color);
}
form label.membership {
  display: block;
  padding: .75rem 0;
}
input.submitBtn {
  border: solid;
  background-color: var(--accent2-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
label.top input:required {
  border-left: rgb(205, 18, 18) solid 6px;
}
label.top input:required:valid {
  border-left: #26532b solid 6px;
}
/*---Table---*/
.top, .membership {
  padding-bottom: 5px;
  display: block;
}
.membership-info {
  grid-column: 2/3;
  /* width: 60%; */
}
table {
  grid-column: 2/3;
  margin: 2.5rem 0;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px var(--secondary-color);
  border-collapse: collapse;
  max-width: 100%;
}
caption {
  padding: 10px;
  caption-side: bottom;
	font-size: 1.2rem;
}
th, td {
	padding: 7px 15px;
	border: 2px solid var(--primary-color);
  text-align: center;
  font-weight: bold;
}
th {
	background-color: var(--primary-color);
	font-size: larger;
  color: var(--accent1-color)
}
tr:first-child th {
	background-color: var(--primary-color);
	color: var(--accent1-color);
}
tr:nth-child(even) {
	background-color: var(--accent4-color);
}
.blank {
  background-color: var(--primary-color)
}
}