:root {
--primary-color: #094074;
--second-color: #3C6997;
--third-color: #5ADBFF;
--fourth-color: #FFDD4A;
--fifth-color: #FE9000;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  background-color: var(--primary-color);
  color: var(--fifth-color)
}
.logo img {
  width: 70%;
  height: 70%;
}
main {
  display: grid; 
  justify-content: center;
}
nav {
  background-color: var(--fifth-color); 
  font-size: 1.3rem;
}
nav a {
  color: black; 
  text-align: center;
  text-decoration: none;
  padding: 0.4rem;
  /*min-width: 25%;*/
}
nav a:hover {
  background-color: gainsboro;
}
nav a:hover::before {
  content:  "👣";
}
.active {
  background-color: var(--fourth-color);
}
.active::before {
  content:"🌴 ";
}

#menu {
	font-size: 1.5rem;
  border-radius: 5px;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #ccc;
	color: black;
 	position: absolute;
	top: 40px;
	right: 14px;
  cursor: pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "⨉";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.navigation a {
  display: none; 
}

.open a {
  display: block;
}
.action-label {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  height: 28%;
  width: 35%;
}
.action-label h3 {
  font-size: 2rem;
  color: black;
}
.action-label:hover {
    box-shadow: 0 0 50px #bcb5b5;
}
.action-label button {
  background-color: #f7ebe4;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem;
}
.action-label button:hover {
  color: var(--fifth-color);
  background-color: var(--second-color);
}
.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid rgba(0,0,0,.3);
}
.card h3 {
  text-align: center;
}
.card p, .card a,
.card ul, .card il,
.card h4, .card span {
  font-size: 1.2rem;
  text-decoration: none;
}
.card a:hover {
  color: #d5d2e9;
}
.card a:visited:hover {
  color: #0b07f3;
}
.card img{
  width: 50%;
}
.card section{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  justify-content: center;
}
#weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#weather-forecast {
  padding-top: .5rem;
  margin-top: 2.5rem;
}


/*---toggle---*/
.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 45px;
  height: 20px;
} 
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}
input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 30px;
} 
.slider.round:before {
  border-radius: 50%;
}
/*---Hero Image---*/
.hero {
	position: relative;
  grid-column: 1/3;
}
.hero img{
  width: 100%;
}

.action-label {
	position: absolute;
	top: 30px;
	left: 30px;
  font-size: 2rem;
  color: rgb(104, 8, 8);
	border: 4px solid rgba(0,0,0,.75);
	padding: 20px;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}
.action-label a { 
  margin: 5px;
  top: 50%;
  bottom: 50%;
  font-size: 45px;
  color: var(--primary-color);
}
.action-label h1 a:hover {
  background-color: #899a9ef5; /* Change color on hover */
  text-decoration: none;
}
#alert {
  display: none;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--fifth-color); 
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
}
.price-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.table-head {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px
}

/* Style the table header cells */
.price-table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Style the table cells */
.price-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Remove bottom border for the last row */
.price-table tr:last-child td {
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
    /* For mobile, switch to a single-column layout */
.action-label {
  text-align: center; /* Align the button to the center */
}

.action-label h3 {
  display: none; /* Hide the heading */
}

.action-label button {
  display: block; /* Display the button */
  margin: 0 auto; /* Center the button */
}

}

