@media screen and (min-width: 1024px) {
#menu {
    display: none; /* hide hamburger button */
}
.navigation {
    display: flex;
    flex-direction: row;
}
.navigation a {
    display: block;
    flex: 1 1 100%;
}
#rentals {
    margin: 2rem;
}
form label.sbs {
    padding: .4rem 0;
}
.container label.top input, .container label.top textarea{
    max-width: 70%;
}
}