html * {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
body {
    width: auto;
}
header {
    background-color: #04c6fb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }

h1 {
    font-size: 30px;
    color: #00030a;
    padding-left: 20px;
}
  
main {
    max-width: 900px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;

    } 

nav {
    list-style-type: none;
    background-color: #1c1b1b;
    }      
    
nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    }
              
nav a:hover {
    background-color: rgba(134, 129, 129, 0.2);
    }

/*show emoji in nav menu. Emoji applied using copy and paste */    
nav a:hover::before {
    content:  "👉";
}
              
nav .active {
    background-color: rgba(3, 9, 23, 0.4)
    }
          
h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333; /* Replace with your text color */
    }        

.card {
    grid-area: auto;
    background-color: #efebeb; 
    border: 1px solid black; 
    margin-bottom: 10px;
    font-style: inherit;
    }

    .card a:hover {
        color: #d5d2e9;
    }
    
    .card a:visited:hover {
        color: #0b07f3;
    }

.card h3 {
    background-color: #04c6fb; 
    border-bottom: 1px solid #1c1b1b; 
    font-size: 20px;
    margin-bottom: 10px;
    color: #1c1b1b; 
    margin: auto;
    }
  
ul {
    list-style-type: none;
    text-align:left;
    color: #1c1b1b;
    }
ul a{
    color: #1c1b1b;
}
  
li a {
    color: black;
    text-align:left;
    }
  
footer {
    text-align: center;
    background-color: #1c1b1b;
    color: #fff; 
    padding: 10px;
    }
  
#lastModified {
    font-size: 12px;
    }
/*lesson3 - small view navigation*/

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 10px;
	right: 10px;
}

#menu::before {
	content: "☰";
    cursor:pointer;
}

#menu.open::before {
	content: "⨉";
    cursor:pointer;   
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
}

.open a {
    display: block;
    width: 100%;
}